.profile__edit-button {
  width: clamp(18px, 5.6vw, 24px);
  aspect-ratio: 1 / 1;
  align-self: center;
  margin-left: 18px;
  border: 2px solid white;
  background-color: black;
  border-radius: 2px;
  background-image: url(../../../images/edit_button.svg);
  background-repeat: no-repeat;
  background-position: center;


}

@media (max-width: 571px) {
  .profile__edit-button {
    position: absolute;
    top: 25px;
    right: -30px;
  }
}
