.page {
  background-color: black;
  color: white;
  /* max-width: 880px; */
  /* margin: 0 auto; */
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: flex-start;
}
