.popup__button {
  border: none;
  outline: none;
  width: 84%;
  min-height: 50px;
  margin-top: 18px;
  margin-bottom: 37px;
  background-color: black;
  color: white;
  font-family: 'Inter', 'Arial', 'sans-serif';
  font-size: 18px;
  font-size: clamp(14px, 4.6vw, 18px);
  line-height: 22px;
  opacity: 1;
  transition: .3s;
}

.popup__button:hover {
  opacity: .8;
  cursor: pointer;
}
