.header {
  border-bottom: 1px solid rgba(54, 54, 54, .7);
  min-height: clamp(84px, 26.2vw, 119px);
  display: flex;
  align-items: center;
}

@media (max-width: 850px) {
  .header {
    position: relative;
    top: 0;
    left: -6%;
    width: 100vw;
  }
}

