.profile__add-button {
  grid-area: edit-button;
  width: 150px;
  height: 50px;
  margin-left: auto;
  border: 2px solid white;
  background-color: black;
  border-radius: 2px;
  background-image: url(../../../images/add_button.svg);
  background-repeat: no-repeat;
  background-position: center;

}

@media (max-width: 850px) {
  .profile__add-button {
    width: 100%;
    margin-top: 36px;
    background-size: 16px 16px;
  }
}
