.footer__copyright {
  font-family: 'Inter', 'Arial', 'sans-serif';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  margin: 67px auto 60px 6%;
  /* margin-left: 6%; */

}

@media (max-width: 571px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 17px;
    margin: 48px auto 36px 6%;
  }
}

@media (min-width: 1000px) {
  .footer__copyright {
    margin-left: 0;
  }
}
