.popup__item {
  background-color: #fff;
  border: none;
  outline: none;
  width: 84%;
  font-family: 'Inter', 'Arial', 'sans-serif';
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  padding-bottom: 13px;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  margin-bottom: 30px;

}

.popup__item:focus {
  border-bottom: 1px solid rgba(0, 0, 0, .4);
  /* opacity: .4; */
}


.popup__item::placeholder {
  color: #000000;

}
