.element__delete-button {
  display: none;
  width: 18px;
  height: 19px;
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: unset;
  background-image: url(../../../images/basket_button.svg);
  z-index: 0;

}
