.button {
  /* all: unset; */
  background-color: #fff;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  opacity: 1;
  transition: .3s;

}

.button:hover {
  opacity: .6;
  cursor: pointer;
}
